$plume: #7765e3;
$plumedark: #6457a6;
$gray: #F4F4F4;
$black: #25213c;

:root {
  --lang-switcher-margin: 2vw;
  --lang-switcher-width: 2em;
}

@font-face {
  font-family: 'Playfair Display';
  src:
    local('Playfair Display Regular'),
    local('PlayfairDisplay-Regular'),
    url('../fonts/PlayfairDisplay-Regular.woff2') format('woff2'),
    url('../fonts/PlayfairDisplay-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

html, body {
  padding: 0px;
  margin: 0px;
}

h1, h2, h3 {
  font-family: 'Playfair Display';
}

header {
  margin: auto;
  padding: 12vh 23vw;
  -webkit-padding-start: 30px;
  -webkit-padding-end: 60px;
  background: linear-gradient(0deg, $plumedark, $plume);
  color: white;
  font-size: 1.5em;

  display: grid;
  grid-template: 50% 50% / 80% 20%;

  img {
    height: 8em;
    grid-row: 1 / 3;
    grid-column: 2;
  }

  .language-switcher {
    position: absolute;
    top: var(--lang-switcher-margin);
    right: var(--lang-switcher-margin);
    margin: 0;
    padding: 0;
    line-height: 1;
  }
}

body > main {
  nav {
    background: $gray;
  }

  & > * {
    padding: 0px 20vw;
  }
}

nav {
  ul {
    list-style: none;
    padding: 0px;
    margin: 0px;
    display: flex;
    justify-content: space-between;

    li {
      a {
        display: block;
        padding: 2em 0em;
        border-bottom: 2px solid transparent;
        transition: all ease-in 0.2s;

        &:hover {
          border-bottom-color: $plume;
        }
      }
    }
  }
}

a, a:visited {
  text-decoration: none;
  color: $plume;
}

section {
  margin-top: 40px;
}

.card {
  background: $gray;
  color: $black;
  padding: 1em;
  margin: 1em 5vw;
  display: flex;
  align-items: center;

  span.icon {
    padding: 0.5em;
    margin-left: -2em;
    border-radius: 100%;
    background: $plume;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  svg.feather {
    width: 1em;
    height: 1em;
    color: white;
  }

  main {
    flex: 1;
    margin-left: 2em;
    display: flex;
    flex-direction: column;
  }

  p {
    line-height: 1.5em;
    flex: 1;
  }

  main > a {
    text-align: center;
    margin: 1em 0;
  }

  &.vertical {
    flex-direction: column;
    margin-top: 2em;

    span.icon {
      margin-left: 0;
      margin-top: -2em;
    }

    h3 {
      text-align: center;
    }

    main {
      margin-left: 0;
    }
  }
}

.language-switcher {
  position: relative;
  font-size: 1rem;

  [aria-haspopup] {
    display: block;
    width: var(--lang-switcher-width);
    padding: 0;
    line-height: 1;
    border: none;
    background: transparent;

    &:hover {
      opacity: 0.5;
    }

    &[aria-expanded="true"] {
      opacity: 0.5;
    }

    img {
      width: 100%;
      height: auto;
    }
  }

  [aria-hidden="true"] {
    display: none;
  }

  .languages {
    position: absolute;
    right: 0;
    list-style: none;
    margin: 0;
    padding: 0.5em 0;
    max-height: calc(90vh - var(--lang-switcher-margin) - var(--lang-switcher-width));
    overflow-y: scroll;
    overscroll-behavior: contain;
    border-radius: 0.1em;
    background: #ffffff;
    box-shadow: 0 0 16px -6px rgba(0, 0, 0, 0.6);
  }

  .language {
    padding: 0;

    a {
      display: block;
      box-sizing: border-box;
      width: 100%;
      height: 100%;
      padding: 0.5em 1em;
      border-left: solid 0.5em transparent;

      &:hover, &:focus {
        border-left-color: $plume;
      }
    }
  }
}

#instances {
  font-size: 1.2em;
  padding: 0;
  margin: 1em 5vw;
  list-style: none;

  li {
    padding: 1em;
    transition: all ease-in 0.2s;
    &:hover {
      background: $gray;
    }
  }
}

.grid {
  display: grid;
  grid-template-columns: 50% 50%;

  & > h2 {
    grid-column: 1 / 3;
  }
}

section > h2 {
  text-align: center;
  margin: 5em 0 2em;
}

footer {
  padding: 5em 5vw;
  background: $gray;
  color: $black;
  margin-top: 10vh;
  text-align: center;
}

@media screen and (max-width: 1000px) {
  :root {
    --lang-switcher-margin: 3vw;
    --lang-switcher-width: 3em;
  }

  body > main > * {
    padding: 0 5vw;
  }

  header {
    display: flex;
    flex-direction: column;
    padding: 10vh 20vw;
    text-align: center;

    img {
      height: 4em;
      grid-row: 2;
      grid-column: 1;
      margin: auto;
    }
  }

  main nav {
    padding: 0;
    text-align: center;
    ul {
      flex-direction: column;

      li a {
        padding: 1em;
        &:hover {
          border-bottom-color: transparent;
        }
      }
    }
  }

  .grid {
    grid-template-columns: 100%;

    & > h2 {
      grid-column: 1;
    }
  }
}
