<!DOCTYPE html>
<html prefix="og: http://ogp.me/ns#">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Plume: a federated blogging application</title>
    <%= stylesheet_link_tag "site" %>
    <%= javascript_include_tag "icons" %>
    <link rel="icon" type="image/png" href="/images/favicon.png">
    <meta property="og:title" content="Plume" />
    <meta property="og:type" content="website" />
    <meta property="og:url" content="https://joinplu.me/" />
    <meta property="og:image" content="https://joinplu.me/images/og-logo.png" />
  </head>
  <body>
    <%= yield %>
    <footer>
      Website under the GPL 3.0 license.
      &mdash;
      <a href="https://github.com/Plume-org/joinplu.me">Source code of this website</a>
    </footer>
    <script>feather.replace()</script>
    <%= javascript_include_tag "site" %>
  </body>
</html>
