<nav>
  <ul>
    <li>
       <a href="https://contribute.joinplu.me">Contribute</a>
    </li>
    <li>
       <a href="https://docs.joinplu.me">Documentation</a>
    </li>
    <li>
       <a href="https://github.com/Plume-org/Plume">Source code</a>
    </li>
    <li>
       <a href="https://riot.im/app/#/room/#plume:disroot.org">Chat room</a>
    </li>
    <li>
       <a href="https://fediverse.blog/~/PlumeDev">Updates</a>
    </li>
  </ul>
</nav>
