<nav>
  <ul>
    <li>
       <a href="https://docs.joinplu.me/">Documentation</a>
    </li>
    <li>
       <a href="https://github.com/Plume-org/Plume">Source code</a>
    </li>
    <li>
       <a href="https://riot.im/app/#/room/#plume:disroot.org">Chat room</a>
    </li>
    <li>
       <a href="https://framavox.org/g/WK40YHMA/plume">Loomio group</a>
    </li>
  </ul>
</nav>