<nav>
  <ul>
    <li>
       <a href="https://contribute.joinplu.me/">Contribuir</a>
    </li>
    <li>
       <a href="https://docs.joinplu.me/">Documentación</a>
    </li>
    <li>
       <a href="https://github.com/Plume-org/Plume">Sala de chat</a>
    </li>
    <li>
       <a href="https://riot.im/app/#/room/#plume:disroot.org">Sala de chat</a>
    </li>
    <li>
       <a href="https://framavox.org/g/WK40YHMA/plume">Grupo Loomio</a>
    </li>
  </ul>
</nav>
