---
title: 'Plume: Una aplicación de blogs federados'
---

<header>
  <h1>Plume</h1>
  <h2>Una aplicación de blogs federados</h2>
  <img src="/images/logo.png"/>
</header>

<main>
  <%= partial "nav" %>

  <section class="features">
    <div class="card">
      <span class="icon"><i data-feather="globe"></i></span>
      <main>
        <h2>Escribir una vez, publicar en todas partes</h2>
        <p>
       Plume no es un sitio web único, sino toda una red interconectada, pero independiente, de lo que llamamos <em>instancias</em>.
       Usted escribe contenido desde su propia instancia, pero cualquier otra persona en cualquier otra instancia de Plume también puede disfrutar de sus historias.
        </p>
      </main>
    </div>

    <div class="card">
      <span class="icon"><i data-feather="message-circle"></i></span>
      <main>
        <h2>Blogs sociales</h2>
        <p>
        Cuando escribimos, la mayoría de las veces es para compartir algo con otras personas.
        Plume tiene muchas características que permiten que el intercambio entre escritores y lectores sea bidireccional desde el principio.
        </p>
      </main>
    </div>

    <div class="card">
      <span class="icon"><i data-feather="users"></i></span>
      <main>
        <h2>Escritura colaborativa</h2>
        <p>
          Plume también facilita la colaboración en un artículo.
          Dado que los blogs no se limitan a un solo autor, muchas personas pueden escribir en el mismo blog, mejorar el trabajo de los demás, para obtener el mejor resultado final.
        </p>
      </main>
    </div>
  </section>

  <section>
    <h2>Buscar una instancia</h2>
    <ul id="instances">
    </ul>
  </section>

  <section class="grid">
    <h2>Entra en el Fediverso</h2>
    <div class="card vertical">
      <span class="icon"><i data-feather="share-2"></i></span>
      <main>
        <h3>No sólo Plume</h3>
        <p>
        Las instancias de Plume forman parte de una gran red, llamada colectivamente Fediverse. Se compone de muchas instancias, servidores con diferentes especificaciones y políticas, cada uno ejecutando una aplicación específica, con diferentes propósitos, no siempre Plume.
        Esto significa que, por ejemplo, Plume es capaz de comunicarse con aplicaciones de microblogging como <a href="https://joinmastodon.org">Mastodon</a> o <a href="https://pleroma.social/">Pleroma</a>.
        Incluso otras aplicaciones de blogs que apoyan a la federación, como <a href="https://writefreely.org">WriteFreely</a>, también pueden comunicarse con Plume!
        Esto significa que usted puede comentar y gustar los artículos de Plume de cualquiera de estas otras instancias.
        </p>
        <a href="">Aprenda más sobre el Fediverso</a>
      </main>
    </div>

    <div class="card vertical">
      <span class="icon"><i data-feather="user"></i></span>
      <main>
        <h3>Gran diversidad</h3>
        <p>
          Cada instancia es organizada y moderada por diferentes pueblos en diferentes lugares del mundo, lo que resulta en diversas reglas, temas y ambientes en los que se centra. Por lo tanto, una instancia determinada puede ser más adecuada para ti que otra, dependiendo de tus opiniones e intereses.
        </p>
        <p>
          Y si ninguna instancia existente te hace sentir como en casa, puedes crear la tuya propia, si eres un poco aventurero.
        </p>
        <a href="#instances">Encuentre la instancia de sus sueños</a>
      </main>
    </div>

    <div class="card vertical">
      <span class="icon"><i data-feather="lock"></i></span>
      <main>
        <h3>Una red sólida</h3>
        <p>
          Debido a que el Fediverso está mayormente respaldado por voluntarios, y no por inversionistas, es resistente a los problemas económicos. Y debido a su naturaleza descentralizada, también es más difícil de censurar que las plataformas tradicionales.
        </p>
        <p>E incluso si una instancia se cae, el resto de la red continuará trabajando ininterrumpidamente.</p>
      </main>
    </div>

    <div class="card vertical">
      <span class="icon"><i data-feather="heart"></i></span>
      <main>
        <h3>Open to everyone</h3>
        <p>
          Plume es un software libre, basado en estándares abiertos, como <a href="https://activitypub.rocks">ActivityPub</a>, lo que significa que puedes ayudar a mejorarlo.
        </p>
        <p>
          No sólo damos la bienvenida a los programadores, sino también a cualquiera que quiera ayudar: traductores, diseñadores de experiencias de usuario, personas con habilidades de comunicación, o cualquier otra persona que sienta que puede ofrecer algo para hacer avanzar el proyecto. 
        </p>
        <a href="https://contribute.joinplu.me">Descubra cómo puede ayudar</a>
      </main>
    </div>
  </section>
</main>

