---
title: Plume
---

<header>
  <h1>Plume</h1>
  <h2>A federated blogging application</h2>
  <img src="/images/logo.png"/>
</header>

<main>
  <%= partial "nav" %>

  <section class="features">
    <div class="card">
      <span class="icon"><i data-feather="globe"></i></span>
      <main>
        <h2>Write once, publish everywhere</h2>
        <p>
          Plume is not a single website, but a network of what we call <em>instances</em>.
          You write from your instance, but anyone on any Plume instance can enjoy your stories.
        </p>
      </main>
    </div>

    <div class="card">
      <span class="icon"><i data-feather="message-circle"></i></span>
      <main>
        <h2>Social blogging</h2>
        <p>
          When we write it is, most of the time, to share something with other people.
          Plume has many features that allow the exchange to be bi-directional.
        </p>
      </main>
    </div>

    <div class="card">
      <span class="icon"><i data-feather="users"></i></span>
      <main>
        <h2>Collaborative writing</h2>
        <p>
          Plume also makes it easy to collaborate on an article. Since blogs are not
          limited to one author, many people can write in the same blog, improve each other work,
          to get the best final result.
        </p>
      </main>
    </div>
  </section>

  <section>
    <h2>Find an instance</h2>
    <ul id="instances">
    </ul>
  </section>

  <section class="grid">
    <h2>Enter the Fediverse</h2>
    <div class="card vertical">
      <span class="icon"><i data-feather="share-2"></i></span>
      <main>
        <h3>Not just Plume</h3>
        <p>
          Plume instances are part of a huge network, called the Fediverse. It is made
          of many instances, each one running a specific application, not always Plume.
          It means that for instance, Plume is able to communicate with microblogging apps
          like <a href="https://joinmastodon.org">Mastodon</a> or
          <a href="https://pleroma.social/">Pleroma</a>.
          Other blogging apps, like <a href="https://write.as">Write.as</a> can also
          communicate with Plume! It means that you can comment and like Plume articles
          from any of these other instances.
        </p>
        <a href="">Learn more about the Fediverse</a>
      </main>
    </div>

    <div class="card vertical">
      <span class="icon"><i data-feather="user"></i></span>
      <main>
        <h3>Great diversity</h3>
        <p>
          Each instance is hosted and moderated by different peoples, resulting in different
          rules, thematics and ambiance. An instance can suit you better than another, depending
          on your opinions and interests.
        </p>
        <a href="">Find your dream instance</a>
      </main>
    </div>

    <div class="card vertical">
      <span class="icon"><i data-feather="lock"></i></span>
      <main>
        <h3>A solid network</h3>
        <p>
          Because the Fediverse is mostly backed by volunteers, and not investors,
          it is resilient to economic problems. And because of its decentralized nature it is
          also harder to censor than traditional platforms.
        </p>
      </main>
    </div>

    <div class="card vertical">
      <span class="icon"><i data-feather="heart"></i></span>
      <main>
        <h3>Open</h3>
        <p>
          Plume is libre software, based on open standards, like
          <a href="https://activitypub.rocks">ActivityPub</a>,
          which means you can help making it better.
        </p>
        <a href="https://contribute.joinplu.me">Discover how you can help</a>
      </main>
    </div>
  </section>
</main>

  <!-- todo https://github.com/hovancik/middleman-github-deploy -->


